<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bb746a14-f4ed-4734-8004-1326cd80d6bd/resourcegroups/RebelBookGroup/providers/Microsoft.Web/sites/WebService20180528110152</ResourceId>
    <ResourceGroup>RebelBookGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webservice20180528110152.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webservice20180528110152.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebService20180528110152</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebService20180528110152</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RebellicContext" Order="1" Enabled="False">
          <Destination Path="Data Source=rebelbook.database.windows.net;Initial Catalog=RebelBookDB;Persist Security Info=True;User ID=semesterprojekt;Password=Rebelbook1234;Application Name=EntityFramework" Name="Data Source=rebelbook.database.windows.net;Initial Catalog=RebelBookDB;Persist Security Info=True;User ID=semesterprojekt;Password=Rebelbook1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebService.RebellicContext, WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RebellicContext-Web.config Connection String">
      <ParameterValue>Data Source=rebelbook.database.windows.net;Initial Catalog=RebelBookDB;Persist Security Info=True;User ID=semesterprojekt;Password=Rebelbook1234;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>